MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TLS_ENABLED=false
MQTT_CLIENT_ID_PREFIX=sim
MQTT_CONNECTION_MODE=shared
MQTT_QOS=1
MQTT_USERNAME=
MQTT_PASSWORD=

SIMULATOR_STATIONS=1
SIMULATOR_AUTO_BOOT=true
SIMULATOR_WS_PORT=8085
SIMULATOR_API_PORT=8086
SIMULATOR_LOG_LEVEL=info
